body {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #212121;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

#tracing {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(line_thick_squ.png) #3f3f3f;
    background-position: center;
    background-repeat: no-repeat;
}

#start {
    position: absolute;
    background: white;
    border-radius: 50%;
    z-index: 1;
}

#start:hover {
    cursor: pointer;
}

#disk {
    display: inline-block;
    position: absolute;
    background: #f5c143;
    border-radius: 50%;
}

#diskCover {
    background: #212121;
    position: absolute;
    top: 330px;
    left: 600px;
    width: 40px;
    height: 40px;
}
#tracingNextBut, #recognitionNextBut {
    display: none;
    position: absolute;
    left: 80%;
    top: 80%;
    color: white;
    border: solid 2px;
    border-radius: 10%;
    padding: 10px;
    font-weight: 600;
}

#trialNextBut:hover, #recognitionNextBut:hover {
    color: #3f3f3f;
    background-color: white;
    cursor: pointer;
}

#intro, #recognition {
    display: none;
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 100px);

    color: white;
    font-size: 20px;
}

.option {
    position: relative;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.option:hover {
    background: gray;
}

.optionRadio {
    position: absolute;
    margin: 0;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.optionText {
    position: relative;
    left: 40px;
    width: calc(100% - 60px);
}
